@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);

html {
  background-color: #ffbf90;
  height: 100vh;
  width: 100vw;
  font-family: 'Montserrat Alternates', sans-serif;
}

.mainNavbar img {
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 100px;
  border-radius: 30px;
  margin-right: 1px;
}


.mainNavbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 3em 1.5em 3em;
  background-color:#dc5135;
  font-size: 18px;
}

.navbarLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50vw;
}

.navbarLink {
  text-decoration: none;
  padding: 0.8em;
  border-radius: 2em;
  transition: 0.4s;
  color: #ffffff;
}

.navbarLink:hover {
  background-color: #f26b4e;
}

main.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.mainTitle {
  margin-top: 1em;
  font-size: 30px;
  font-weight: bold;
  color: #840000;
  margin-bottom: 1em;
}

.firstText {
  font-size: 20px;
  color:#840000;
  margin-bottom: 1em;
}

div {
  padding: 0.5vh 0.5vw;

}

div.et_cover_background {
  background-color: #f26b4e;
  background-size: cover!important;
  background-position: top!important;
  background-attachment: fixed;
  background-origin: padding-box;
}

strong {
  font-weight: bold;
}

footer {
  /*position: absolute;*/
  bottom: 0;
  left: 0;
  padding: 1em;
  height: 10vh;
}
